---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="flex min-h-screen flex-col items-center justify-between p-24">
		Reactivity Example:
		<ul>
			<li><a href="/vue-count">Vue Count</a></li>
			<li><a href="/react-count">React Count</a></li>
		</ul>
		Loop Example:
		<ul>
			<li><a href="/vue-item-list">Vue Item List</a></li>
			<li><a href="/react-item-list">React Item List</a></li>
		</ul>
		API Consumption Example:
		<ul>
			<li><a href="/vue-api">Vue API</a></li>
			<li><a href="/react-api">React API</a></li>
		</ul>
	</main>
</Layout>
