---
import Layout from "../layouts/Layout.astro";
import ReactApiComponent from '../components/ReactApiComponent.jsx';
---

<Layout>
	<main>
        <ReactApiComponent client:load />
	</main>
</Layout>