---
import Layout from "../layouts/Layout.astro";
import ReactItemListComponent from '../components/ReactItemListComponent.jsx';
---

<Layout>
	<main>
        <ReactItemListComponent client:load />
	</main>
</Layout>