---
import Layout from "../layouts/Layout.astro";
import ReactCountComponent from '../components/ReactCountComponent.jsx';
---

<Layout>
	<main>
        <ReactCountComponent client:load />
	</main>
</Layout>