---
import Layout from "../layouts/Layout.astro";
import VueItemListComponent from '../components/VueItemListComponent.vue';
---

<Layout>
	<main>
        <VueItemListComponent client:load />
	</main>
</Layout>