---
import Layout from "../layouts/Layout.astro";
import VueCountComponent from '../components/VueCountComponent.vue';
---

<Layout>
	<main>
        <VueCountComponent client:load />
	</main>
</Layout>